body,
html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.pimg1,
.pimg2,
.pimg3 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* fixed- parallax
    scrol- normal */
    background-attachment: fixed;
}

.pimg1 {
    background-image: url(https://images.pexels.com/photos/753626/pexels-photo-753626.jpeg?cs=srgb&dl=pexels-julius-silver-753626.jpg&fm=jpg);
    min-height: 100%;
}

.pimg2 {
    background-image: url(https://images.pexels.com/photos/4319752/pexels-photo-4319752.jpeg?cs=srgb&dl=pexels-jess-loiterton-4319752.jpg&fm=jpg);
    min-height: 400px;
}

.pimg3 {
    background-image: url(https://images.pexels.com/photos/1058434/pexels-photo-1058434.jpeg?cs=srgb&dl=pexels-jess-bailey-designs-1058434.jpg&fm=jpg);
    min-height: 400px;
}

.sec {
    text-align: center;
    padding: 50px 80px;
}

.section_light {
    background-color: #f4f4f4;
    color: #666;
}

.section_dark {
    background-color: #282e34;
    color: #ddd;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
}

.ptext .border .trans {
    background-color: transparent;
}